.wrapper{
    padding: 100px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 10%;
}
.container{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px 60px 0px;
    color:#fff;
}
.asya{
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(../../assets/asya.png);
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}
