@font-face {
    font-family:'M PLUS 1 CODE';
    src: url(../components/Fonts/M_PLUS_1_Code/MPLUS1Code-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'M PLUS 1 CODE';
}

