
.wrapper{
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
}
.header{
    
    font-size: 40px;
    color: rgb(223, 135, 149);
}
.text{
   
    margin-bottom: 30px;
}

@media(max-width:1023px){
    .wrapper{
        padding: 20px;
        height: 100%;
    }

}
@media(max-width:767px){
    .wrapper{
        padding: 10px;
        
    }

}