.wrapper{
    padding: 100px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
}
.folders{
    display: flex;
    
    margin-bottom: 20px;
    flex-direction: column;
    margin-right: 50px ;
    
}
.link{
    text-decoration: none;
    color:#fff;
}
