.footer{
    padding:30px 60px 30px 90px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
   
}
@media(max-width:767px){
    .footer{
        padding: 30px 20px 30px 30px;
    }
}
